---js
{
  layout: "default",
  og_type: "article",
  eleventyComputed: {
    permalink: (data) => data.published !== false ? `${data.page.fileSlug}/` : false,
  },
}
---
<header>
<nav>
{% assign olderPost = collections.posts | getNextCollectionItem -%}
{% assign newerPost = collections.posts | getPreviousCollectionItem -%}
{% if olderPost -%}
  <a href="{{ olderPost.url }}" title="Older: {{ olderPost.data.title | escape }}">←</a>
{%- endif %}
<a href="/">Home</a>
{% if newerPost -%}
  <a href="{{ newerPost.url }}" title="Newer: {{ newerPost.data.title | escape }}">→</a>
{%- endif %}
</nav>
<h1>{{ title }}</h1>
<time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>{{ page.date | date: "%d %B %Y" }}</time>
{% if last_modified -%}
— updated on <time datetime="{{ last_modified | date: "%Y-%m-%d" }}">{{ last_modified | date: "%d %B %Y" }}</time>
{%- endif %}
</header>
{%- if translations %}
<p class=translations>
<b>Translation{% if translations.size > 1 %}s{% endif %} available in:</b>
{%- for translation in translations %}
{%- if not forloop.first %}, {% if forloop.last %}and {% endif %}{% endif %}
<a rel=alternate hreflang="{{ translation.lang }}" href="{{ translation.url }}" title="{{ translation.title }}">{{ translation.label }}</a>
{%- endfor %}.
</p>
{%- endif %}
<main>
{{ content }}
</main>
